//	MOBILE

//	Modal menu background
.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
	background-color: var(--modal-nav-bg-color, #fff) !important;
}

//	Open button
button.wp-block-navigation__responsive-container-open svg rect {
	fill: var(--modal-nav-buttonIcon-color, var(--modal-nav-buttonIconOpen-color, #e00));
}

//	Close button
button.wp-block-navigation__responsive-container-close svg path {
	fill: var(--modal-nav-buttonIcon-color, var(--modal-nav-buttonIconClose-color, #fff));
}

.home {
	--modal-nav-bg-color: #000;
	--modal-nav-buttonIcon-color: #fff;
}
body:not(.home) {
	--modal-nav-bg-color: #fff;
	--modal-nav-buttonIcon-color: #e00;
}

/* ------ START MENU ------ */

// jack up that specificity, we're gonna need it
html body .wp-block-navigation {

	$default-menu-border: #f00;
	
  .wp-block-navigation__container .wp-block-navigation-item__content {
	color: var(--menu-text-color, var(--wp--preset--color--secondary, #333)) !important;
  }

  ul.wp-block-navigation__submenu-container.wp-block-navigation-submenu {
	background-color: var(--menu-background-color, #fff) !important;
//	background: transparent !important;
	border: none !important;
	border-right: var(--menu-border-right-width, 2px) solid var(--menu-border-right-color, #{$default-menu-border}) !important;
	text-align: right;
	min-width: 20rem !important;
	margin-right: calc(-1 * var(--menu-border-right-width, 2px));
	margin-top: -2px;

	padding-top: 1rem;
  }

  li.wp-block-navigation-submenu {
	border-right: var(--menu-border-right-width, 2px) solid transparent;
	  &:hover {
		border-right: var(--menu-border-right-width, 2px) solid var(--menu-border-right-color, #{$default-menu-border});

		&, a {
			color: var(--menu-text-color, var(--wp--preset--color--secondary, #333)) !important;
		}
	  }
	}

  /*
  Set up menu theming via CSS vars so I can have the side-border design on inner pages as well
*/

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item .wp-block-navigation__submenu-container {
//	background-color: var(--menu-background-color, #fff) !important;
}

  li.wp-block-navigation-item.has-child.wp-block-navigation-submenu {
	padding-right: 0.4rem;
  }

  ul.wp-block-navigation__submenu-container.wp-block-navigation-submenu {
// 	background-color: var(--menu-background-color, #fff) !important;
	
	& > * {
		z-index: 10;
	}

	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: var(--menu-bg-image, none) !important;
		background-attachment: fixed !important;
		background-position: top left !important;
		background-size: 100vw !important;
		opacity: 0.07;
	}
  }

  .wp-block-navigation-item {
	text-align: right;
	background-color: unset;
  }

  .wp-block-navigation-submenu > .wp-block-navigation-item__content {
	font-family: "acumin-pro-extra-condensed", "Helvetica Neue", "Helvetica",
	  "Arial", sans-serif;
	font-size: 2rem;
  }

.wp-block-navigation .has-child .wp-block-navigation__submenu-container>.wp-block-navigation-item>.wp-block-navigation-item__content {
	display: block;
}


.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
	background-color: #000;
	--wp--preset--font-size--small: clamp(1.1rem, 1.1rem + ((1vw - 0.2rem) * 0.227), 1.4rem);
}

ul.wp-block-navigation__submenu-container.wp-block-navigation-submenu {
	box-shadow: 0 0.4rem 0.4rem rgba(0,0,0,0.2);
}

.wp-block-navigation-item.wp-block-navigation-link a {
	padding-top: 0.4rem !important;
	padding-bottom: 0.4rem !important;
	line-height: 1.1;
	transition: 0.2s all ease !important;
	
	&:hover {
		background: var(--menu--item-background-color-hover, #eee);
	}
}

.wp-block-navigation__submenu-container.wp-block-navigation-submenu {
	padding-top: 1.4rem;
	padding-bottom: 1rem;
}

}

/* ------ END MENU ------ */

