@import url("https://use.typekit.net/ziz2qik.css");

@mixin visually-hidden() {
    clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.home.page-template-default {



  background-image: url(https://www.vassar.edu/sites/default/files/2024-02/uncovering-inequity-poster.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .wp-site-blocks {
    background: rgba(0, 0, 0, 0.9);
  }
}

.intro-text {
  font-family: "freight-big-pro", "Georgia", "Times", "Times New Roman", serif;
  font-size: 1.8rem;
  line-height: 1.2;
}

html body {
.wp-block-site-title {
  text-transform: uppercase;
  font-size: 1.4rem !important;
  letter-spacing: 0.1rem;
}
}
.newspaper-quote-section {
  h2.wp-block-heading {
    font-size: 1.1rem !important;
    font-variation-settings: "wght" 800 !important;
    text-transform: uppercase !important;
    letter-spacing: 0.08rem !important;
    border-bottom: 2px solid #fff;
    padding-bottom: 1rem;
  }
}



//  Nav went here formerly

.home {
    --menu-border-right-width: 1px;
    --menu--item-background-color-hover: #333;
    --menu-border-right-color: #e00;
        

    --menu-bg-image: url("https://www.vassar.edu/sites/default/files/2024-02/uncovering-inequity-poster.jpg");
    --menu-background-color: #000;
    --menu-text-color: #bbb;
}




.newspaper-quote-section {
    margin-top: 3rem;
    
    p, ul {
        font-size: var(--wp--preset--font-size--smallish);
    }
}







a[href$=".pdf"]:before {
    background: #e00;
    color: #fff;
    margin-right: 0.4rem;
    padding: 0.1rem 0.4rem;
    content: "PDF";
    font-size: 1.1rem;
    display: inline-block;
    border-radius: 0.2rem
}

a[href$=".pdf"] {
    background: #fff;
    padding: 1rem;
    border-radius: 0.8rem;
    margin: 2rem 0;
    display: block;
    font-size: 1.1rem;
    width: fit-content;
}


.wp-lightbox-overlay .scrim {
    background: #161616 !important;
}
.close-button {
    --wp--preset--color--contrast: #aaa;
}

.wp-block-lazyblock-supertitle {
    font-variation-settings: "wght" 800;
    color: #8b7011;
}

.wp-block-lazyblock-supertitle {
    position: relative; 
    
    &:after {
        position: absolute; 
        content: "";
        width: 48%;
        border-top: 3px solid #8b701126;
        top: 50%;
    }

    .article-supertitle__content {
        font-variation-settings: "wght" 800;
        color: #8b7011;
        position: relative;
        padding-right: 0.8rem;
        display: inline;
    }   
}

header.wp-block-template-part {
    padding: 0 2vw !important;
}


.home {
    header.wp-block-template-part {
        @media (min-width: 60rem) {
//            position: absolute;
        }
    }
    .wp-block-post-title {
        @include visually-hidden();
    }
    .wp-block-site-title {
        a {
            --wp--preset--color--primary: #fff;
        }
    }
}


header.wp-block-template-part {
    width: 100%;
    padding: 0 clamp(1rem, 3vw, 3rem) !important;
}

button.wp-block-navigation__responsive-container-open {
    color: #fff;
}

:where(.wp-site-blocks) > * {
    margin-top: 0 !important;
}


@import "_nav";